@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&display=swap');

*{
	border: none;
	margin: 0;
	padding: 0;
	outline: 0;
}

html,body{
	height: 100%;
}

body{
	background: url(../images/91655.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-size: 62.5%;
	font-family: 'Chakra Petch', sans-serif;
	overflow: hidden;
}
#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}
div#g-recaptcha-error {
    color: #f9f9f9;
    padding: 10px 12px 0;
    animation: pulsate 1.5s infinite alternate;
}
.neontext {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    padding: 2em 0 0.2em 0.5em;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #008de4, 0 0 82px #008de4, 0 0 92px #008de4, 0 0 102px #008de4, 0 0 151px #008de4;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 600;
}

p,a,span,input{
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 300;
}

h1 {
  font-size: 6.2rem;
  animation: pulsate 1.5s infinite alternate; 
}

@keyframes pulsate {
	100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #008de4,
      0 0 80px #008de4,
      0 0 90px #008de4,
      0 0 100px #008de4,
      0 0 150px #008de4;
  } 
  0% {
    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #008de4,
    0 0 45px #008de4,
    0 0 55px #008de4,
    0 0 70px #008de4,
    0 0 80px #008de4;
}
}

div#wrapper{
	max-width: 900px;
	margin: 0 auto;
	font-size: 1.4em;
	position: relative;
	height: 100%;
}

div#stats{
	font-size: .8em;
	color: #999;
	padding: 0 1.5em;
}

div.container{
	color: #fff;
	background-color: #012060a6;
	border-radius: 5px;
	width: 52%;
	padding: 1em;
	margin: 1em;
	word-wrap: break-word;
}

form {
    max-width: 350px;
    margin: auto;
}
input#cryptocoin_address::placeholder, input#promo_code::placeholder {
    color: white;
}
div.container input{
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    padding: 0.5em 0.7em;
    margin-bottom: 0.5em;
}

.container.main-cont {
    padding: 3rem 1.2rem 4rem;
    background-image: url(../images/arcade-img.jpg);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 272px;
}
.container.main-cont p {
	padding: 5% 8% 0;
	font-size: 20px;
	font-weight: 500;
}
div#captcha {
    margin: 0 0 0 1px !important;
}
.rc-anchor-light.rc-anchor-normal {
    border-bottom: 1px solid #d3d3d3 !important;
    border-radius: 0 !important;
}
.rc-anchor-light {
    background: transparent !important;
    color: #fff !important;
}

/* button animation */
@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}
:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}
.standard_button{
	margin: 10px 0;
	border: 2px solid;
	padding: 1.1vw !important;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

div#site-setup.installer,
div#database-settings.installer,
#license-agreement {
	max-height: 360px;
	overflow-y:auto;
}

pre#copyright-notice{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div.installer input[type="radio"], 
div.installer input[type="checkbox"]{
	width:auto;
	margin-right: 2px;
}
form#install-form fieldset.install-button{
	padding-top: 10px;
}

div.container input:last-child{
	margin-bottom: 0;
}

div.container input[type="submit"]{
	font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

input#cryptocoin_submit:hover {
    background: #008de4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #008de4, 0 0 25px #008de4, 0 0 50px #008de4, 0 0 100px #008de4;
}

div.container input[type="submit"]:active{
	background-color: #224a98;
	box-shadow: inset 0px 1px 4px #0b0f3b;
	border: 1px solid #012060;
	font-weight: bold;
}

form #captcha.simple-captcha img{
	display: block;
	margin: 0 auto .6em auto;
	border: 1px solid #ccc;
	height: 75px; /* prevents the content jump */
	width: 160px;
}
form #captcha.solvemedia #adcopy-outer, 
form #captcha.recaptcha #recaptcha_area{
	margin: 0 auto .6em auto;
}

h1{
	color: #fff;
	font-weight: bold;
	font-size: 2em;
	padding: 2em 0 .2em .5em;
}

p{
	line-height: 1.5em;
}
.error-message{
	color: #f00;
}
p.error{
	color: #f00;
	padding-top: 1em;
}

p.big{
	font-size: 1.2em;
	font-weight: bold;
}

.installer p{
	margin-top: 0px;
	margin-bottom: 20px;
}
.installer select{
	border: inset 1px;
}
.install-button button{
	border: outset 1px;
	border-radius: 5px;
	padding: 3px;
}
.installer .instructions{
	font-size: 0.8em;
}

#poweredby{
	font-size: 1.0em;
	color: #999;
	padding: 0 1.2em;
}
#poweredby a{
	color: #007c99;
}

img.droplet{
	position: absolute;
	right: 0px;
	top: 0%;
	max-width: 150px;
	width: 30%;
	margin-top: -40%;
	-webkit-animation: much_coins linear 6s infinite;
	animation: much_coins linear 6s infinite;
}

img.droplet:nth-of-type(2){
	-webkit-animation-delay: 2s;
	-webkit-animation-name: much_coins2;
	animation-delay: 2s;
	animation-name: much_coins2;
	right: 100px;
}

img.droplet:nth-of-type(3){
	-webkit-animation-delay: 4s;
	-webkit-animation-name: much_coins3;
	animation-delay: 4s;
	animation-name: much_coins3;
	right: 50px;
}

img.droplet:nth-of-type(4){
	-webkit-animation-delay: 5s;
	-webkit-animation-name: much_coins4;
	animation-delay: 5s;
	animation-name: much_coins4;
	right: 120px;
}

@keyframes much_coins{
	from{
		top: 0%;
		margin-top: -40%;
	}
	to{
		top: 100%;
		margin-top: 0%;
		transform: rotate(-45deg);
	}
}

@keyframes much_coins2{
	from{
		top: 0%;
		margin-top: -40%;
	}
	to{
		top: 100%;
		margin-top: 0%;
		transform: rotate(30deg);
	}
}

@keyframes much_coins3{
	from{
		top: 0%;
		margin-top: -40%;
	}
	to{
		top: 100%;
		margin-top: 0%;
		transform: rotate(90deg);
	}
}

@keyframes much_coins4{
	from{
		top: 0%;
		margin-top: -40%;
	}
	to{
		top: 100%;
		margin-top: 0%;
		transform: rotate(-30deg);
	}
}

@-webkit-keyframes much_coins{
	from{
		top: 0%;
		margin-top: -40%;
	}
	to{
		top: 100%;
		margin-top: 0%;
		-webkit-transform: rotate(-45deg);
	}
}

@-webkit-keyframes much_coins2{
	from{
		top: 0%;
		margin-top: -40%;
	}
	to{
		top: 100%;
		margin-top: 0%;
		-webkit-transform: rotate(30deg);
	}
}

@-webkit-keyframes much_coins3{
	from{
		top: 0%;
		margin-top: -40%;
	}
	to{
		top: 100%;
		margin-top: 0%;
		-webkit-transform: rotate(90deg);
	}
}

@-webkit-keyframes much_coins4{
	from{
		top: 0%;
		margin-top: -40%;
	}
	to{
		top: 100%;
		margin-top: 0%;
		-webkit-transform: rotate(-30deg);
	}
}
@media all and (max-width: 1000px)
{
	.standard_button {
		padding: 1.5vw !important;
    }
}
@media all and (max-width:700px)
{
	.container.main-cont {
		padding: 2rem 1.2rem 2rem;
		background-image: none;
		background-color: #012060a6;
		min-height: auto;
	}
    .standard_button {
    	padding: 2.5vw !important;
    }
}

@media all and (max-width: 600px)
{
	body{
		overflow: auto;
	}

	div.container{
		width: auto;
		margin-right: 1em;
		}

	h1{
		padding-top: 1em;
	}

	img.droplet{
		display: none;
		}

	.standard_button {
		padding: 4.5vw !important;
	}
}
